/*主体*/
.main {
    height: 75vh;
    padding-right: 10px;
    overflow-y: scroll;
    background: #F1F1F1;
}

/*滚动条样式*/
.main::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/*滚动条里面小方块*/
.main::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #F1F1F1;
    -webkit-box-shadow: inset 0 0 5px #AAAAAA;
}

/*滚动条里面轨道*/
.main::-webkit-scrollbar-track {
    border-radius: 0;
    background: #F1F1F1;
    -webkit-box-shadow: inset 0 0 5px #F1F1F1;
}

/*消息体*/
.msg-item {
    width: 70vw;
    margin: 4px 0;
    padding: 8px;
}

.msg-item .msg-content {
    margin: 4px 0;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #dedede;
    background-color: white;
}

.msg-item .current {
    background-color: #91ED61;
}

.msg-item::after {
    content: "";
    clear: both;
    display: table;
}

.msg-item img {
    max-width: 45px;
    border-radius: 10%;
}

.color-time {
    color: #AAAAAA;
}

.color-username {
    color: #888888;
}

/* 通用样式 */
.color-red {
    color: #D84E43;
}

.left {
    float: left;
}

.right {
    float: right;
}

.font12 {
    font-size: 12px;
}

/*
 * 微信标准色彩指引 WeChat Standard Color Guidelines 2017.03
 * https://res.wx.qq.com/a/wx_fed/wedesign/res/static/res/2b7c/WeChat_Standard_Color_Guidelines_201703.pdf
 */
.we_chat-colors {
    color: #1AAD19;
    color: #2BA245;
    color: #4D4D4D;
    color: #888888;
    color: #AAAAAA;
    color: #F1F1F1;
    color: #91ED61;
    color: #FFBE00;
    color: #EA6853;
    color: #F76260;
    color: #D84E43;
    color: #2782D7;
    color: #10AEFF;
}