/*主体*/
.main {
    height: 65vh;
    padding-right: 10px;
    overflow-y: scroll;
}

/*滚动条样式*/
.main::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/*滚动条里面小方块*/
.main::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #f1f1f1;
    background: #ccc;
}

/*滚动条里面轨道*/
.main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px white;
    border-radius: 0;
    background: white;
}

/*消息体*/
.msg-item {
    width: 70%;
    float: left;
    border: 1px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 8px;
    margin: 4px 0;
}

.current {
    float: right;
    border-color: #ccc;
    background-color: white;
}

.msg-item::after {
    content: "";
    clear: both;
    display: table;
}

.msg-item img {
    max-width: 30px;
    border-radius: 50%;
}

.msg-item img.left {
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.msg-item img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
    font-size: 12px;
}

.time-left {
    float: left;
    color: #999;
    font-size: 12px;
}

.notice-right {
    color: red;
    float: right;
    margin-right: 25px;
}

.notice-left {
    color: red;
    float: left;
    margin-left: 25px;
}
