.title-info {
    font-size: 16px;
}

.status-point {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #888888;
}

.status-online {
    background-color: #09BB07;
}

.status-offline {
    background-color: #888888;
}

.status-fail {
    background-color: #E64340;
}

.msg-item {
    width: 80%;
    float: left;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.current {
    float: right;
    border-color: #ccc;
    background-color: white;
}

.msg-item::after {
    content: "";
    clear: both;
    display: table;
}

.msg-item img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.msg-item img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.notice-right {
    color: red;
    float: right;
    margin-right: 25px;
}

.notice-left {
    color: red;
    float: left;
    margin-left: 25px;
}

.base-content {
    height: 100vh;
    overflow-y: auto
}

.message-content {
    height: 65vh;
    padding-right: 10px;
    overflow-y: scroll;
}

/*滚动条样式*/
.message-content::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/*滚动条里面小方块*/
.message-content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #f1f1f1;
    background: #ccc;
}

/*滚动条里面轨道*/
.message-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px white;
    border-radius: 0;
    background: white;
}

textarea {
    width: calc(100% - 18px);
    outline: none;
    padding: 5px;
    resize: none;
    border-radius: 5px;
    border: 2px solid #dedede;
}
